* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.swiper {
  width: 90vw;
  height: 90vh;
}

.slide {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: teal;
}
.slide img {
  width: 80%;
}
