:root {
  --azul: #063fbe;
  --verde: #30a405;
  --amarelo: #f9c108;
  --branco: #cedee6;
  --marron_velho: #5f631c;
  --salmao: #cf9157;
  --branco_sujo: #eacaa1;
  --cinza: #bbaf99;
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
  background-color: var(--azul);
}
header {
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-realista-de-7-de-setembro_52683-91812.jpg?w=826&t=st=1695066277~exp=1695066877~hmac=5dbb12c98a6cdeacdbd075eab5731df98fcdaa2e9d00df6a09f649db063639ab);
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.baixo {
    display: flex;
    flex-direction:column;
    gap: 60px;
}

.baixo h1 {
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 3px white;
}
.baixo * {
  margin-left: 20px;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--verde);
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }
.explicacao {
  display: flex;
  margin: 10px;
}
.explicacao img {
  border-radius: 30px;
  width: 50%;
}
main h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.mural {
  display: grid;
  width: 100vw;
  grid-template-columns: 600px 600px;
  justify-items: center;
  align-items: center;
  gap: 10px;
  background-color: var(--marron_velho);
  padding: 20px;
}
.mural * {
  width: 100%;
  border-radius: 20px;
  border: 15px medium var(--marron_velho);
  animation: descida 2s linear infinite alternate;
}
.foto_mural:nth-child(1) {
  animation-delay: 0s; 
}

.foto_mural:nth-child(2) {
  animation-delay: 0.5s; 
}

.foto_mural:nth-child(3) {
  animation-delay: 1s;
}

.foto_mural:nth-child(4) {
  animation-delay: 1.5s;
}
.explicacao p {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.importancia {
  margin: 10px;
}
footer {
  background-color: white;
  padding: 30px;
}
@keyframes descida {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}